body {
  background-color: white;
  color: purple;
}

/* On screens that are 992px wide or less, the background color is blue */
@media screen and (max-width: 500px) {
  body {
    background-color: blue;
    color: white;
  }
}

/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 600px) {
  body {
    background-color: orange;
    color: black;
  }
}
